*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-button{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.4rem;
    padding: 20px 25px;
    font-weight: 600;
    border: 0;
    margin: 40px 0px;
}
/* shared style  */

/* header style start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    }
nav > ul{
    display: flex;
    }
nav li{
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    color: #424242;
}
.banner{
    text-align: center;
}
.banner-contant{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
    }
.banner-contant .banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 50px;
}
.banner-contant .banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 40px;
}
.banner > img{
    width: 100%;
}
/* Header style End */
/* main style start */
main{
    max-width: 1440px;
    margin: 60px auto;
}
/* teams style */
main .teams-container{
    display: flex;
    align-items: center;
}
.teams-container .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
    
}
.teams-container .teams-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-contant-title .quick-list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.teams-contant-title .of-our{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.teams-contant-sub-title .features{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.teams-contant .teams-contant-dexcription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 20px;
}
/* tean-container section style end */

/* Features container section style start */

/* Features container section style end */

/* Some Facts container section style start */
.facts{
    margin: 50px 0px;
}
.facts .facts-container-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.facts .facts-container-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
}

.facts .facts-card-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
/* Some Facts container section style end */
/* Sponspors container section style start */
.sponspors{
    text-align: center;
    margin-top: 20px 0px;
}
.sponspors-container-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.sponspors-container-description{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
}
.sponspors .sponspors-img-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
    gap: 40px;
    align-items: center;
}
.sponspors .sponspors-img-container > img{
    width: 165px;
}
/* Sponspors container section style end */

/* Media Qualy */

/* Mobile device */
@media screen and (max-width:576px) {
    header{padding: 20px;
}
nav, .sponspors-img-container{
    flex-direction: column;
}
main .teams-container{
    flex-direction: column;
}
.teams-container .teams-img-container{
    grid-template-columns: 1fr;
    
}
.teams-container .teams-contant{
    padding: 20px;
}
.facts .facts-container-title{
    padding-left: 20px;
}
.facts .facts-container-description{
    padding-left: 20px;
}
.facts .facts-card-container{
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.sponspors .sponspors-img-container{
    flex-direction: column;
}

}
/* Tablet or Mediam device */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    .teams-container .teams-contant{
        padding: 20px;
    }
    .facts .facts-container-title{
        padding-left: 10px;
    }
    .facts .facts-container-description{
        padding-left: 10px;
    }
    .sponspors .sponspors-img-container{
        flex-direction: column;
    }
}